
<div class="tree_container">
  <div id='tree_content' class="tree_container_body">
    <%= active_tree :chapter, @chapters, :javascript => 'ChapterTree', :children => :child_cache %> 
  </div>
</div>
