
      <div id='tree_content' style='width:200px;' >
<ul id='chapter_tree' class='active_tree active_tree_branch'>
  <% @chapters.each do |chapter|  %>
    <%= render :partial => 'chapter_flat', :locals => { :chapter => chapter } %>
   <% end %> 
</ul>
      </div>

