
<style type="text/css">
#wiki_diff {
    width: 800px;
    font-family:Verdana;
    font-size:11px;
    
}
.rem {
    background-color: #F7B0B0;
    padding: 7px;
    border-bottom: 1px solid #ff7f7f ;
    
    
  }
.add {
    background-color: #ccff99;
    padding: 7px;
    border-bottom: 1px solid #66FF00;
    
    
  }

</style>

<script >

window.opener.SCMS.select_tab_num(1)

</script>
<div id="wiki_diff">
<pre>
 <%= @wiki_body.body_diff %>
</pre>
</div>
